---
import Layout from "@/layouts/Layout.astro";
import { contentfulClient } from "@/lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import type { BlogPost } from "@/lib/contentful";
import { Separator } from "@/components/ui/separator";
import {
  MARKS,
  BLOCKS,
  type Document,
  type TopLevelBlock,
} from "@contentful/rich-text-types";

let post;
const { slug } = Astro.params;
try {
  const data = await contentfulClient.getEntries<BlogPost>({
    content_type: "blogPost",
    "fields.slug": slug,
  });
  const { title, date, content } = data.items[0].fields;
  post = {
    title,
    date: new Date(date).toLocaleDateString(),
    content: content,
  };
} catch (error) {
  return Astro.redirect("/404");
}

const renderDocument = (content: Document) =>
  documentToHtmlString(content, {
    renderMark: {
      [MARKS.CODE]: (text: string) =>
        `<pre class="bg-ctp-mocha-bg"><code>${text}</code></pre>`,
    },
    renderNode: {
      [BLOCKS.EMBEDDED_ASSET]: (node) => {
        const { file } = node.data.target.fields;
        return `<img src="${file.url}" alt="${file.fileName}"></img>`;
      },
    },
  });
---

<Layout title={post.title} classList="overflow-x-hidden">
  <section class="flex w-full flex-col gap-2">
    <header class="flex w-full flex-col gap-3 mb-2">
      {post.title && <h1 class="text-4xl font-bold">{post.title}</h1>}
      {
        post.date && (
          <time class="dark:text-slate-400 text-slate-500">{post.date}</time>
        )
      }
      <Separator className="my-2" />
      <article
        class="prose dark:prose-invert flex w-full flex-col md:max-w-4xl justify-center"
        set:html={renderDocument(post.content)}
      />
    </header>
  </section>
</Layout>
<script is:inline src="/highlight/highlight.min.js"></script>
<script is:inline>
  document.querySelectorAll("pre code").forEach((block) => {
    hljs.highlightElement(block);
  });
</script>
