---
// import type { CollectionEntry } from "astro:content";
import { getCollection, type CollectionEntry } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import { Separator } from "@/components/ui/separator";

export async function getStaticPaths() {
	const posts = await getCollection("blog", ({ data }) => {
  return data.draft !== true;
});
  // const headings = await Promise.all(
  //   posts.map(async (post) => {
  //     const data = await post.render();
  //     return data.headings;
  //   })
  // );

	// @ts-ignore
	return posts.map((post: Post, index) => ({
		params: { slug: post.slug },
		props: {post},
	}));
}
type Props = CollectionEntry<"blog">;
const {post, headings} = Astro.props;
const { Content } = await post.render();
---

<Layout title={post.data.title}>

  <main class="flex w-full flex-col gap-2 overflow-x-hidden">
    <header class="flex w-full flex-col gap-3 mb-2">
      {post.data.title && <h1 class="text-4xl font-bold">{post.data.title}</h1>}
      {post.data.description && <p class="dark:text-slate-300 text-slate-600 italic text-sm">"{post.data.description}"</p>}
      {
        post.data.date && (
          <time class="dark:text-slate-400 text-slate-500">
            {new Date(post.data.date).toDateString()}
          </time>
        )
      }
    </header> 
    <div class="my-2">    <Separator />
</div>
    <div class="flex gap-2 relative">
      <article class="prose dark:prose-invert flex w-full flex-col md:max-w-4xl overflow-x-hidden flex-2 grow">
      <Content />
    </article>
<div class="sticky top-0">
<!-- {headings.map((heading: {depth: number, slug: string, text: string}) => {   const level = heading.depth; -->
<!--             const sizeClass = `text-slate-${6 - level}xl`; // Size based on depth -->
<!--             const marginClass = `ml-${level * 4}`; // Indentation based on depth -->
<!---->
<!--             return ( -->
<!--                 <div class={`${sizeClass} ${marginClass}`}> -->
<!--                     {heading.text} -->
<!--                 </div> -->
<!-- );} )} -->
</div>
    </div>
  </main>

</Layout>
